include:
  - docker-compose.dev.yml

services:
  svarog:
    image: markojerkic/svarog:latest
    container_name: svarog
    build:
      context: .
      dockerfile: ./cmd/server/Dockerfile
    ports:
      - 1323:1323
    environment:
      - MONGO_URL=mongodb://svarog-mongodb:27017/
      - HTTP_SERVER_PORT=1323
      - NATS_PUBLIC_ADDR:${NATS_PUBLIC_ADDR}
      - NATS_ADDR:${NATS_ADDR}
      - NATS_ACCOUNT_SEED:${NATS_ACCOUNT_SEED}
      - NATS_SERVER_USER_JWT:${NATS_SERVER_USER_JWT}
      - NATS_SERVER_USER_SEED:${NATS_SERVER_USER_SEED}
      - NATS_ACCOUNT_PUBLIC_KEY:${NATS_ACCOUNT_PUBLIC_KEY}
    depends_on:
      - svarog-mongodb
      - nats
    develop:
      watch:
        - path: .
          target: builder
          action: rebuild
