services:
  svarog:
    image: markojerkic/svarog:latest
    container_name: svarog
    build:
      context: .
      dockerfile: ./cmd/server/Dockerfile
    ports:
      - 1324:1323
      - 50052:50051
    environment:
      - MONGO_URL=mongodb://svarog-mongodb:27017/
      - GPRC_PORT=50051
      - HTTP_SERVER_PORT=1323
    depends_on:
      - svarog-mongodb
    develop:
      watch:
        - path: .
          target: builder
          action: rebuild

  svarog-mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

volumes:
  mongodb_data:
  mongodb_config:
