package views

import "github.com/markojerkic/svarog/db"
import "fmt"

templ Logs(logs []db.StoredLog) {
	<div>
		<h1>Logs</h1>
		<div>
			for i, log := range logs {
				<p>
					{ fmt.Sprintf("%d: %s", i, log.LogLine) }
				</p>
			}
		</div>
	</div>
}
