name: Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  go-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24.x"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run Go lint
        run: make lint-go

  go-test:
    runs-on: ubuntu-latest
    needs: go-lint
    strategy:
      matrix:
        go-version: ["1.24.x"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run Go tests
        run: |
          go get -tool github.com/a-h/templ/cmd/templ@latest
          go tool generate ./...
          go test ./tests/...
