name: Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  go-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24.x"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run Go lint
        run: gofmt -l .

  go-test:
    runs-on: ubuntu-latest
    needs: go-lint
    strategy:
      matrix:
        go-version: ["1.24.x"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run Go tests
        run: |
          go tool templ generate ./...
          go test ./tests/...

  playwright-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Playwright Browsers
        run: bun x playwright install --with-deps chromium

      - name: Run Playwright tests
        run: bun run test
